.navbar {  
    background-color: #223843;
    z-index: 10;  
    font-family: 'Roboto Slab', serif;
    color: whitesmoke;
    position: fixed;
    width: 100%;
    display: inline-flex;
    top: 0px;
    list-style-type: none;
    margin: 0px 0px !important;
    height: 80px;
}

li {
    padding: 20px 125px; 
    margin-bottom: 0px !important;
}

main {
    background-color: #eff1f3;
    position: relative;
    top: 80px;
    padding: 50px 0px;
    width: 100%;
}


.name {
    background-color: #d77a61;
    text-emphasis: bold;
    color: whitesmoke;
    position: relative; 
    top: 80px;
    height: 200px;
    width: 100%;
    font-family: 'Roboto Slab', serif;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px;

}
.title {
    padding: 20px 20px;
    border: solid 4px whitesmoke;

}


html, body, header {
    padding: 0px;
    margin: 0px 0px;
    background-color: #eff1f3;
  }
  .container {
  
    color: whitesmoke;
    width: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: block;
    margin: 0px 0px;

  }

  .section {
    background-color: #d8b4a0;
    height: 400px;
    width: 90%;
    margin: 0px auto;
    font-family: 'Roboto Slab', serif;
    
  }

  h1 {
    margin: 40px 20px 0px 20px;
    padding: 30px 30px;
  }

  ul {
    list-style-type: square;
  }

  p {
    max-width: 40%;
    margin: 0px 40px;
  }